# Server
PORT=20400

# Database
DATABASE_URL="postgresql://nodi:nodi_password@localhost:5432/nodi_grid_forge"

# NextAuth
NEXTAUTH_URL="http://localhost:20400"
NEXTAUTH_SECRET=""
AUTH_TRUST_HOST=true
